.home-article {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  cursor: pointer;
  .pic {
    width: 100%;
    height: 300px;
    img {
      height: 100%;
      width: 100%;
    }
  }

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 120px;
  }
}
