.popular {
  padding: 0.4rem 0.5rem;
  h4 {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    padding: 0.2rem 0;
    font-size: 2rem;
  }
  div {
    margin-top: 1.25rem;
    border-right: 2px solid gray;
  }
}
